1. What exactly is []?
Answer : 
Squared brackets are used to represent list and enclose list values in it.
For eg :
a=[1,2,3,4]        *data type of a is list

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
Answer :

spam.insert(2,"hello")

In [1]:
spam=[2, 4, 6, 8, 10]

In [2]:
spam.insert(2,"hello")

In [3]:
spam

[2, 4, 'hello', 6, 8, 10]

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

3.What is the value of spam[int(int('3' * 2) / 11)]?
Answer :
'd'

In [4]:
spam=['a', 'b', 'c', 'd']

In [5]:
spam[int(int('3' * 2) / 11)]

'd'

4. What is the value of spam[-1]?
Answer:
'd'

In [10]:
spam[-1]

'd'

5. What is the value of spam[:2]?
Answer :
['a', 'b']

In [11]:
spam[:2]

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

Adding 2 answers assuming in [3.14, 'cat,' 11, 'cat,' True] single quote('') for cat given in list is a typo error.

In [23]:
bacon=[3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

6. What is the value of bacon.index('cat')?
Answer : 1 #if [3.14, 'cat,' 11, 'cat,' True] is a typo ]

         SyntaxError: invalid syntax #if made intentionally

7. How does bacon.append(99) change the look of the list value in bacon?
Answer : 
[3.14, 'cat', 11, 'cat', True, 99]  #if [3.14, 'cat,' 11, 'cat,' True] is a typo ]

SyntaxError: invalid syntax #if made intentionally

8. How does bacon.remove('cat') change the look of the list in bacon?
Answer : 
[3.14, 11, 'cat', True] # it will remove first occurance of 'cat'  #if [3.14, 'cat,' 11, 'cat,' True] is a typo ]

SyntaxError: invalid syntax #if made intentionally

9. What are the list concatenation and list replication operators?
Answer :
# In list concatenation we add one list behind other list by adding both list into a other list using '+' operator.
## eg:
    a=[1,2,3]
    b=[4,5,6]
    c=a+b
    c o/p : [1, 2, 3, 4, 5, 6]
# In list replication we multiply one list with a given integer to multiply it using '*' operator.
## eg:
    a=[1,2]
    b=a*2
    b o/p : [1, 2, 1, 2]

10. What is difference between the list methods append() and insert()?
Answer : 
#Append is a function of list which adds a value given to its parameter at the end of the list.
    eg: a=[1,2,4]
    a.append(3)
    a o/p : [1,2,4,3]
#Insert is a function of list which can add a value at the given index.
    eg: a=[1,2,4]
    a.insert(2,3)     #first index,then value to insert
    a o/p : [1,2,3,4]

11. What are the two methods for removing items from a list?
Answer : 
#by using pop() and remove() function of the list

12. Describe how list values and string values are identical.
Answer : 
List and string values are identical as both are sequence and can be accessed with indexes,even though string does not have that much flexiblity compared to list as string is immutable data type.

13. What's the difference between tuples and lists?
Answer : 
#tuple is immutable,whereas List is mutable.
#tuple is represented or values in tuple are stored in circular bracket(),whereas list is represented or values in list are stored in square brackets [].

14. How do you type a tuple value that only contains the integer 42?
Answer : 
a=42,

15. How do you get a list value's tuple form? How do you get a tuple value's list form?
Answer given below:-

In [38]:
a=[1,2,3,4]
#converting list to tuple
b=tuple(a)
type(b)

tuple

In [39]:
a=(1,2,3,4)
#converting tuple to list
b=list(a)
type(b)

list

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
Answer :

They contain references to list values

17. How do you distinguish between copy.copy() and copy.deepcopy()?
Answer : 

The copy.copy() function will do a shallow copy of a list whereas, the copy.deepcopy() function will do a deep copy of a list. only copy.deepcopy() will duplicate any lists inside the list.